.types {
    border: 1px solid black;
    height: 200px;
    width: 30%;
    background-color: blue;
    color: white;
    float: left;
}

.person {
    border: 1px solid black;
    height: 200px;
    width: 30%;
    background-color: red;
    color: white;
    float: left;
}

.hide {
    display: none;
}

.selected {
    width:30%;
    height: 200px;
    border: 2px solid black;
    background-color: black;
    color: white;
    float: left;
}

.products {
    
}