.types {
    border: 1px solid black;
    height: 200px;
    width: 30%;
    background-color: blue;
    color: white;
    float: left;
}

.person {
    border: 1px solid black;
    height: 200px;
    width: 30%;
    background-color: red;
    color: white;
    float: left;
}